@using Blog.Query.Models.Post
@model Blog.Query.Models.Post.PostWithComments
@{
    ViewBag.BannerImage = "/img/post-bg.jpg";
    ViewBag.BannerHeader = Model.Title;
}

@section styles
    {
    <style>
        .desc-highlight {
            color: #f3bfbf;
        }
    </style>
}

@section BannerDescription{
    @Model.Description
}

<div class="col-lg-8 col-md-10 mx-auto">
    <div>
        <h2>@Model.Title</h2>
        <h3>@Model.Description</h3>
        <span>
            Dodano przez <span class="desc-highlight">@Model.UserName</span> dnia @Model.PostDate.ToString("dd/MM/yyyy") w kategorii <a href="@Url.Action("Index", "Post", new {id = Model.CategoryId})" class="desc-highlight">@Model.CategoryName</a>
        </span>
    </div>
    <hr/>
    <div>
        @Html.Raw(Model.Content)
    </div>




</div>