@using Blog.Query.Models.Post
@model Blog.Query.Models.Post.PostWithCategoryAndUsername

<div class="post-preview">
    <a href="@Url.Action("Details","Post", new { id = Model.Id })">
        <h2 class="post-title">
            @Model.Title
        </h2>
        <h3 class="post-subtitle">
            @Model.Excerpt
        </h3>
    </a>
    <p class="post-meta">
        Dodano przez
        <span style="color:black">@Model.UserName</span>
        dnia @Model.PostDate.ToString("dd/MM/yyyy") w kategorii <a href="@Url.Action("Index","Post", new { id = Model.CategoryId})">@Model.CategoryName</a>
    </p>
</div>
<hr>